# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.egg-info/
*.egg

# Virtual environments
env/
.venv/

# Build
build/
dist/
*.whl

# Logs
*.log

# VS Code
.vscode/

# OS files
.DS_Store

#Test folder
src/error_assistant/tests

#Temp nano files
.swp

#snapshot file
dirSnapshot.p